* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "font";
    src: url("/magnet-sans-serif-font/MagnetTrial-Thin-BF65f3b2c5556af.otf");
}


nav{
    height: 11vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    border-bottom: 0.4px solid #BFC0AC;
    transition: 0.3s ease-in-out;
}

nav .logo{
    height: 90%;
    padding-left: 140px;
}
nav img{
    height: 100%;
    object-fit: cover;
}

.links{
    padding-left: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: font;
    font-weight: 600;
}

.nav-items{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;

}
.credit{
    display: flex;
    align-items: center;
    gap: 10px;
}
.credit-applicaiton{
    display: flex;
    font-family: font;
    align-items: center;
}
.user{
    border-radius: 4px;
    border: 2px solid black;
}

nav:hover{
    background-color: #FFFDF5;
}

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    padding-top: 100px;
    position: absolute;
    padding-left: 150px;
    top: 0;
}

.text {
    width: 60%;
}

.text h1 {
    font-family: font;
    font-size: 75px;
}

.card-container {
    height: 300px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    gap: 10px;
}

.card {
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bf {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bf h1 {
    font-family: font;
    font-size: 30px;
    transition: ease-in-out 0.2s;
}

.card:hover .bf h1 {
    margin-top: -20%;
}

.af {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: font;
    font-size: 12px;
}

.aftxt {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.line {
    width: 100%;
    height: 15px;
    overflow: hidden;
    font-weight: 600;
}

.line1 p {
    margin-top: 10%;
    transition: ease-in-out 0.3s;
}

.line2 p {
    margin-top: 10%;
    transition: ease-in-out 0.4s;
}

.line3 p {
    margin-top: 10%;
    transition: ease-in-out 0.45s;
}

.line4 p {
    margin-top: 10%;
    transition: ease-in-out 0.5s;
}

.line5 p {
    margin-top: 10%;
    transition: ease-in-out 0.55s;
}

.line6 p {
    margin-top: 10%;
    transition: ease-in-out 0.6s;
}

.line7 p {
    margin-top: 10%;
    transition: ease-in-out 0.65s;
}

.loader {
    overflow: hidden;
}

.bar {
    transform: translateX(-100%);
    border-bottom: solid 1px black;
    transition: ease-in-out 0.4s;
}

.card:hover .line p {
    margin-top: 0%;
}

.card:hover .bar {
    transform: translateX(0%);
}

.bottom {
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botxt {
    height: 15px;
    width: 100%;
    overflow: hidden;
}

.botxt h3 {
    margin-top: 10%;
    transition: ease-in-out 0.3s;
}

.card:hover .botxt h3 {
    margin-top: 0;
}

.arrow {
    height: 15px;
    width: 15px;
    font-size: 15px;
    overflow: hidden;
}
.arrow i{
    transform: translateX(-15px);
    transition: ease-in-out 0.3s;
}

.card:hover .arrow i{
    transform:translateX(0);
}

.card:hover{
     background-color: #FFFDF5;
    opacity: 1;
}


.sec2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDAC6;
    position: absolute;
}
.overlay-sec2{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    overflow: auto;
    scrollbar-width: none;
}
.text-top{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: font;
    font-weight: 600;
    animation: right infinite linear forwards 60s;
}
.overlay-line{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 30px;
}

@keyframes right {
    0%{
        transform: translateX(-400%);
    }100%{
        transform: translateX(100%);
    }
}

.text-bottom{
    margin-top: 200px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: font;
    font-weight: 600;
    animation: left infinite linear forwards 60s;
    
}

@keyframes left {
    0%{
        transform: translateX(-100%);
    }100%{
        transform: translateX(-400%);
    }
}


.sec2 img{
    height: 50%;
    width: 50%;
    object-fit: cover;
}